.el-header {
  text-align: left;
  background-color: #fffeee;
  color: #409EFF;
  font-size: 1.1em;
  height: 5em !important;
  line-height: 5em;
  height: 100%;
}

.el-footer {
  position: fixed;
  bottom: 1px;
  width: 99.9%;
  background-color: #409EFF;
  color: #fffccc;
  text-align: center;
}

.el-aside {
  display: block;
  background-color: #409EFF;
  color: rgb(241, 241, 241);
  text-align: center;
  height: 600px;
  /* line-height: 200px; */
}

.el-main {
  position: inherit;
  color: #333;
  text-align: center;
  line-height: 160px;
  height: 99.9%;
}

.content_body {
  position: absolute;
  background-color: #E9EEF3;
  top: 5em;
  /* bottom: 5em;
  height: 80%; */
  width: 100%;
}

/* body > .el-container {
  margin-bottom: 40px;
} */
