html,
body,
* {
  margin: 0;
}

[v-cloak] {
  display: none;
}

#app {
  position: absolute;
  height: 99%;
  width: 99%;
}

.content {
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
}

.el-header {
  text-align: left;
  line-height: 60px;
  border-bottom: 5px solid #5FB878;
  background-color: #393D49;
  color: #fff;
}

.el-aside {
  position: relative;
  padding: 0 20px;
  background-color: #393D49;
  color: #c2c2c2;
  border-radius: 2px;
  font-size: .8em;
  box-sizing: border-box !important;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

/* 菜单重定义 */
.el-menu {
  border-right: 0px;
}

/* 定制View */
.view,
.settings {
  text-align: left;
  line-height: 0px;
}

/* 定制date-picker的shortcut */
.el-picker-panel__sidebar {
  width: 150px;
}

.el-picker-panel__body {
  margin-left: 150px !important;
}

/* 动画过渡 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease-in .1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transform: translateY(10px);
}

/* 卡片样式 */
.text {
  font-size: 14px;
}

.item {
  padding-top: 10px;
  padding-bottom: 18px;
}

.item:last-child {
  padding-bottom: 5px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  width: 380px;
  margin-bottom: 20px;
}

/* 图表组件样式 */
.chart_section {
  margin-top: 50px !important;
}

.chart_section legend {
  margin-bottom: 20px !important;
}

/* tickets_box */
.el-popover {
  height: 300px;
  overflow-x: hidden;
}