html, body, * {
  margin: 0;
}

#app {
    position: absolute;
    height: 99%;
    width: 99%;
}
.content{
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
}
.el-header {
  text-align: left;
  line-height: 60px;
  border-bottom: 5px solid #5FB878;
  background-color: #393D49;
  color: #fff;
}

.el-aside {
  position: relative;
  padding: 0 20px;
  background-color: #393D49;
  color: #c2c2c2;
  border-radius: 2px;
  font-size: .8em;
  box-sizing: border-box!important;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

/* 菜单重定义 */
.el-menu {
  border-right: 0px;
}