<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Agira" content="Agira">
  <link rel="stylesheet" href="../static/vender/css/element-ui-theme-chalk.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/vender/js/vue.min.js"></script>
  <script src="../static/vender/js/vue-router.min.js"></script>
  <script src="../static/vender/js/vue-resource.min.js"></script>
  <script src="../static/vender/js/element-ui/element-ui.min.js"></script>
  <script src="../static/vender/js/element-ui/lib/locale/lang/en.js"></script>
  <script src="../static/vender/js/Chart.min.js"></script>
  <script src="../static/vender/js/vue-chartjs.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.4.1/dist/g2.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.1/dist/data-set.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js"></script>

</head>

<body>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>