<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Agira" content="Agira">
  <link rel="stylesheet" href="../static/vender/css/element-ui-theme-chalk.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/vender/js/vue.min.js"></script>
  <script src="../static/vender/js/vue-router.min.js"></script>
  <script src="../static/vender/js/vue-resource.min.js"></script>
  <script src="../static/vender/js/element-ui/element-ui.min.js"></script>
  <script src="../static/vender/js/element-ui/lib/locale/lang/en.js"></script>
  <script src="../static/vender/js/Chart.min.js"></script>
  <script src="../static/vender/js/vue-chartjs.min.js"></script>
  <script src="../static/vender/js/heatmap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!--<script type="text/javascript" src="../static/vender/js/googlemap.js"></script>-->
  <script src="../static/vender/js/heatmap.min.js"></script>
  <script src="../static/vender/js/gmaps-heatmap.js"></script>
</head>

<body>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>