{% extends "base.html" %}
{% block body %}
<div id="app" v-cloak>
  <script type="module">
    // 设置element-ui的默认语言
    ELEMENT.locale(ELEMENT.lang.en);
  </script>
  <el-container>
    <el-header>Hi,Agira</el-header>
    <el-container class="content">
      <!--aside-->
      <el-aside width="200px">
        <el-menu background-color="#393D49" text-color="#c2c2c2">
          <el-menu-item>
            <template slot="title">
              <i class="el-icon-view"></i>
              <router-link to="/view" replace>View</router-link>
            </template>
          </el-menu-item>

          <el-menu-item>
            <template slot="title">
              <i class="el-icon-view"></i>
              <router-link to="/view_date" replace>View_date</router-link>
            </template>
          </el-menu-item>

          <el-menu-item>
            <template slot="title">
              <i class="el-icon-view"></i>
              <router-link to="/view_map" replace>View_heatMap</router-link>
            </template>
          </el-menu-item>

          <el-menu-item>
            <template slot="title">
              <i class="el-icon-setting"></i>
              <router-link to="/settings" replace>Settings</router-link>
            </template>
          </el-menu-item>
        </el-menu>

      </el-aside>
      <!-- main -->
      <el-main>
        <router-view></router-view>
        <script type="x-template" id="view_tmp">
          <div class="view">
            <el-row>
              <el-col :span="24">
              <el-form :inline="true" :model="formInline" class="demo-form-inline">

              <el-form-item label="Projects">
                <el-select v-model="formInline.projects" multiple placeholder="Projects">
                  <el-option label="Aldon LMi" value="ALLI"></el-option>
                  <el-option label="Aldon LMe" value="ALLE"></el-option>
                  <el-option label="Aldon Web Portal" value="ALWP"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Date range">
              <el-form-item>
                  <el-date-picker
                    v-model="formInline.daterange"
                    type="daterange"
                    align="left"
                    unlink-panels
                    range-separator="-"
                    start-placeholder="start"
                    end-placeholder="end"
                    :picker-options="pickerOptions">
                  </el-date-picker>
                </el-form-item>
                </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">Query</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>

          <div v-loading="!isLoad">

            <el-row>
                <el-col :span="chart_sapn" v-if='isLoad'>
                  <div class="chart_section">
                    <fieldset id="customer_fs">
                      <legend>Affected Customers chart</legend>
                      <alm-horizontal-bar-chart v-bind:labels='labels_customer' v-bind:datasets='datasets_customer'></alm-horizontal-bar-chart>
                      <el-button round><a id="link_customer" download="customer.png">Download png</a></el-button>
                      <el-button round @click="fetch_keys">Retrieve refer tickets</el-button>
                      <span v-loading="isClicked && !isCustomerTicketLoad"></span>
                      <div v-if="isCustomerTicketLoad" style="display:inline-block">
                        <div v-for="(gridData, project) in tickets_ref" style="display:inline-block">
                          <el-popover
                            placement="right"
                            width="400"
                            height="600"
                            trigger="click">
                            <div v-for="(value, key, index) in gridData" style="display:inline-block">
                              <span v-text="key"></span>
                              <br/>
                              <span v-for="(v, k, idx) in value">
                                <el-tag type="success">
                                    <a :href="'https://jira.rocketsoftware.com/browse/'+ v + '' " target="_blank"><span v-text="v"></span></a>
                                </el-tag>
                              </span>
                            </div>
                            <el-button slot="reference"><span v-text="project"></span></el-button>
                          </el-popover>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </el-col>
              </el-row>

              <el-row>
                  <el-col :span="chart_sapn" v-if='isLoad'>
                    <div class="chart_section">
                      <fieldset id="component_fs">
                        <legend>Components chart</legend>
                        <alm-horizontal-bar-chart v-bind:labels='labels_component' v-bind:datasets='datasets_component'></alm-horizontal-bar-chart>
                        <el-button round><a id="link_version" download="component.png">Download png</a></el-button>
                      </fieldset>
                    </div>
                  </el-col>
              </el-row>
              
<!-- 
            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="status_fs">
                    <legend>Status chart</legend>
                    <alm-bar-chart v-bind:labels='labels_status' v-bind:datasets='datasets_status'></alm-bar-chart>
                    <el-button round><a id="link_status" download="status.png">Download png</a></el-button>
                  </fieldset>
                </div>
              </el-col>
            </el-row>
            
            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="issue_fs">
                    <legend>Issue chart</legend>
                    <alm-bar-chart v-bind:labels='labels_issue' v-bind:datasets='datasets_issue'></alm-bar-chart>
                    <el-button round><a id="link_issue" download="issue.png">Download png</a></el-button>

                </fieldset>
                </div>
              </el-col>
            </el-row>
            
            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="priority_fs">
                    <legend>Priority chart</legend>
                    <alm-bar-chart v-bind:labels='labels_priority' v-bind:datasets='datasets_priority'></alm-bar-chart>
                    <el-button round><a id="link_priority" download="priority.png">Download png</a></el-button>

                </fieldset>
                </div>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="version_fs">
                    <legend>Version chart</legend>
                    <alm-horizontal-bar-chart v-bind:labels='labels_version' v-bind:datasets='datasets_version'></alm-horizontal-bar-chart>
                    <el-button round><a id="link_version" download="version.png">Download png</a></el-button>
                  </fieldset>
                </div>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="discover_fs">
                    <legend>Discover chart</legend>
                    <alm-horizontal-bar-chart v-bind:labels='labels_discover' v-bind:datasets='datasets_discover'></alm-horizontal-bar-chart>
                    <el-button round><a id="link_version" download="discover.png">Download png</a></el-button>
                  </fieldset>
                </div>
              </el-col>
            </el-row> -->

          </div>
          </div>
        </script>
        <script type="x-template" id="view_tmp_date">
          <div class="view">
            <el-row>
              <el-col :span="24">
              <el-form :inline="true" :model="formInline" class="demo-form-inline">

              <el-form-item label="Project">
                <el-select v-model="formInline.project" placeholder="Project">
                  <el-option label="Aldon LMi" value="ALLI"></el-option>
                  <el-option label="Aldon LMe" value="ALLE"></el-option>
                  <el-option label="Aldon Web Portal" value="ALWP"></el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Year">
                <el-select v-model="formInline.year" placeholder="Year">
                  <el-option label="2019" value="2019"></el-option>
                  <el-option label="2018" value="2018"></el-option>
                  <el-option label="2017" value="2017"></el-option>
                  <el-option label="2016" value="2016"></el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Periods">
                <el-select v-model="formInline.periods" multiple placeholder="Periods">
                  <el-option label="Q1" value="Q1"></el-option>
                  <el-option label="Q2" value="Q2"></el-option>
                  <el-option label="Q3" value="Q3"></el-option>
                  <el-option label="Q4" value="Q4"></el-option>
                </el-select>
              </el-form-item>
              <el-button type="primary" @click="onSubmit">Query</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>

          <div v-loading="!isLoad">

            <el-row>
              <el-col :span="chart_sapn" v-if='isLoad'>
                <div class="chart_section">
                  <fieldset id="customer_fs">
                    <legend>Affect Customer chart</legend>
                    <alm-bar-chart v-bind:labels='labels_customer' v-bind:datasets='datasets_customer'></alm-bar-chart>
                    <el-button round><a id="link_customer" download="customer.png">Download png</a></el-button>
                  </fieldset>
                </div>
              </el-col>
            </el-row>
          </div>
          </div>
        </script>
        <script type="x-template" id="view_tmp_map">
          <div class="view">
            <el-row>
              <el-col :span="24">
              <el-form :inline="true" :model="formInline" class="demo-form-inline">

              <el-form-item label="Project">
                <el-select v-model="formInline.project" placeholder="Project">
                  <el-option label="Aldon LMi" value="ALLI"></el-option>
                  <el-option label="Aldon LMe" value="ALLE"></el-option>
                  <el-option label="Aldon Web Portal" value="ALWP"></el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Year">
                <el-select v-model="formInline.year" placeholder="Year">
                  <el-option label="2019" value="2019"></el-option>
                  <el-option label="2018" value="2018"></el-option>
                  <el-option label="2017" value="2017"></el-option>
                  <el-option label="2016" value="2016"></el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Periods">
                <el-select v-model="formInline.periods" multiple placeholder="Periods">
                  <el-option label="Q1" value="Q1"></el-option>
                  <el-option label="Q2" value="Q2"></el-option>
                  <el-option label="Q3" value="Q3"></el-option>
                  <el-option label="Q4" value="Q4"></el-option>
                </el-select>
              </el-form-item>
              <el-button type="primary" @click="onSubmit">Query</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>

          <div v-loading="!isLoad">
          <!-- heatmap -->
          <div id="heatmap_div"></div>
          <!-- heatmap -->
          </div>
          </div>
        </script>
        <script type="x-template" id="setting_tmp">
          <div class="settings">
            <el-row>
              <el-col :span="4">
              
              <el-steps direction="vertical" :active="active" :space="200" finish-status="success">
                  <el-step title="pick projects"></el-step>
                  <el-step title="select charts"></el-step>
                  <el-step title="done"></el-step>
              </el-steps>
            </el-col>
            <el-col :span="20">
              <!-- <transition name="fade"  mode="out-in"> -->
              <!--project setting-->
              
              <el-form ref="project" style="margin-left:60px" label-position="left" label-width="100" :model="project_info" v-show='ctl.isProject'>
                  <el-col :span="12">
                  <el-form-item label="project name">

                      <el-input v-model="project_info.name"  size="medium"></el-input>
    
                  </el-form-item>
                  <el-form-item label="project key">

                      <el-input v-model="project_info.key"  size="medium"></el-input>
    
                  </el-form-item>
                  <el-form-item label="project description">
  
                      <el-input v-model="project_info.desc"  size="medium"></el-input>
                    
                  </el-form-item>
                  
                  <el-form-item>
                    <el-button circle icon="el-icon-check" @click="save_project"></el-button>
                    <el-button circle icon="el-icon-plus" @click="add_project"></el-button>
                  </el-form-item>
                </el-col>
              </el-form>
            <!-- </transition> -->

              <!--chart setting-->
              <!-- <transition name="fade" mode="out-in"> -->
              <el-form ref="chart" style="margin-left:60px" label-position="left" label-width="100" :model="chart_info" v-show='ctl.isChart'>
                <el-col :span="12">  
                  <el-form-item label="chart name">
                    <el-select v-model="chart_info.name" size="medium" placeholder="select chart name">
                      <el-option
                        v-for="item in basic_chart"
                        :key="item.name"
                        :label="item.name"
                        :value="item.name">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="chart type">
                    <el-select v-model="chart_info.type" size="medium" placeholder="select chart type">
                      <el-option
                        v-for="item in chart_types"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="chart description">
                    <el-input v-model="chart_info.desc" size="medium"></el-input>
                  </el-form-item>
                    
                  <el-form-item>
                    <el-button circle icon="el-icon-check" @click="save_chart"></el-button>
                    <el-button circle icon="el-icon-plus" @click="add_chart"></el-button>
                  </el-form-item>
                </el-col>
              </el-form>
            <!-- </transition> -->

              <!--done setting-->
              <!-- <transition name="fade" mode="out-in"> -->
              <el-form ref="all" style="margin-left:60px" label-position="left" label-width="100"  v-show='ctl.isDone'>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>Projects List</span>
                    </div>
                    <div v-for="p in project_set" class="text item">
                        <span v-text="p.name"></span>
                        <span> - </span>
                        <span v-text="p.key"></span>
                    </div>
                </el-card>
                <p></p>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>Charts List</span>
                    </div>
                    <div v-for="c in chart_set" class="text item">
                        <span v-text="c.name"></span>
                        <span> - </span>
                        <span v-text="c.type"></span>
                    </div>
                  </el-card>
                
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" :disabled="btn_disabled">confirm</el-button>
                    <el-button type="warning" @click="reset">reset</el-button>
                </el-form-item>
              </el-form>
            <!-- </transition> -->
          </el-col>
            </el-row>
           </div>
        </script>
      </el-main>
    </el-container>
  </el-container>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/customed-charts.js"></script>
<script src="../static/js/scripts.js"></script>
{% endblock %}